<!DOCTYPE HTML>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1 maximum-scale=2, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-title" content="Add to Home">
		<meta name="format-detection" content="telephone=no">
		<meta http-equiv="x-rim-auto-match" content="none">
		<title>用户调查</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta name="Copyright" content="">
		<meta name="author" content="">
		<!-- 网站的ico图标 -->
		<script src="js/flex_rem.js"></script>
		<link href="css/publi.css" rel="stylesheet" type="text/css">
		<link href="css/question.css" rel="stylesheet" type="text/css">
		<script src="js/jquery1.8.3.min.js"></script>
		<script type="text/javascript" src="js/vue.min.js"></script>
		<!--[if lt IE 9]>
		<script src="js/html5.js"></script>
		<script src="js/respond.min.js"></script>
		<![endif]-->
		<style type="text/css">
			h2 {
				font-size: 14px;
			}
		</style>
	</head>

	<body>
		<!-- ====================================loading -->
		<section id="loading"></section>
		<!-- ====================================页面开始 -->
		<!--登录-->
		<section class="question">
			<header>
				<img src="img/bg1.jpg" alt=""/>
				<h1>“惠惠到”C端调查问卷</h1>
			</header>
			<ul>
				<li class="que_ra que_ac">
					<h2>１您的性别是（单选）</h2>
					<label class="que1_01">
						<input type="radio" name="que1" class="que" />
						<span>男</span>
						<i class="icon_ra"></i>
					</label>
					<label class="que1_01">
						<input type="radio" name="que1" class="que" />
						<span>女</span>
						<i class="icon_ra"></i>
					</label>
				</li>
				<li class="que_chex que_ac">
					<h2>2.您对哪类促销感兴趣？（多选）</h2>
					<input type="checkbox" class="qu_chex" />
					<label class="que2_01">
						<span>神州专车</span>
						<i class="icon_chex"></i>
					</label>
					<input type="checkbox" class="qu_chex"  />
					<label class="que2_01">
						<span>易到用车</span>
						<i class="icon_chex"></i>
					</label>
					<input type="checkbox" class="qu_chex"  />
					<label class="que2_01">
						<span>滴滴出行</span>
						<i class="icon_chex"></i>
					</label>
					<input type="checkbox" class="qu_chex"   />
					<label class="que2_01">
						<span>Uber</span>
						<i class="icon_chex"></i>
					</label>
					<br />
					<input type="checkbox" class="qu_chex"  />
					<label class="que2_01">
						<span>其他</span>
						<i class="icon_chex"></i>
					</label>
				</li>
				<li class="que_chex que_ac">
					<h2>3您是否还使用其他专车软件？（多选）</h2>
					<input type="checkbox" class="qu_chex" id="ss1" value="A" v-model="checkedNames" />
					<label class="que2_01" for="ss1">
						<span>神州专车</span>
						<i class="icon_chex"></i>
					</label>
					<input type="checkbox" class="qu_chex" id="ss2" value="B" v-model="checkedNames" />
					<label class="que2_01" for="ss2">

						<span>易到用车</span>
						<i class="icon_chex"></i>
					</label>
					<input type="checkbox" class="qu_chex" id="ss3" value="C" v-model="checkedNames" />
					<label class="que2_01" for="ss3">

						<span>滴滴出行</span>
						<i class="icon_chex"></i>
					</label>
					<input type="checkbox" class="qu_chex" id="ss4" value="D" v-model="checkedNames" />
					<label class="que2_01" for="ss4">

						<span>Uber</span>
						<i class="icon_chex"></i>
					</label>

					<input type="checkbox" class="qu_chex" id="ss5" value="E" v-model="checkedNames" />
					<label class="que2_01" for="ss5">
						<span>其他</span>
						<i class="icon_chex"></i>
					</label>
					<div style="margin: 10px 0;">
						<input type="text" class="chex_01"  placeholder="在此填入其他内容"/>
					</div>

					<span>选择顺序: {{ checkedNames | json }}</span>
				</li>
				<li class="que_chex que_ac">
					<h2>3您是否还使用其他专车软件？（多选）</h2>
					<input type="checkbox" class="qu_chex" id="s1"  value="A" v-model="checkedNames2" />
					<label class="que2_01" for="s1">
						<span>神州专车</span>
						<i class="icon_chex"></i>
					</label>
					<input type="checkbox" class="qu_chex" id="s2"  value="B" v-model="checkedNames2" />
					<label class="que2_01" for="s2">

						<span>易到用车</span>
						<i class="icon_chex"></i>
					</label>
					<input type="checkbox" class="qu_chex" id="s3"  value="C" v-model="checkedNames2" />
					<label class="que2_01" for="s3">

						<span>滴滴出行</span>
						<i class="icon_chex"></i>
					</label>
					<input type="checkbox" class="qu_chex" id="s4"  value="D" v-model="checkedNames2" />
					<label class="que2_01" for="s4">

						<span>Uber</span>
						<i class="icon_chex"></i>
					</label>

					<input type="checkbox" class="qu_chex" id="s5"  value="E" v-model="checkedNames2" />
					<label class="que2_01" for="s5">
						<span>其他</span>
						<i class="icon_chex"></i>
					</label>
					<br/>
					<span style="margin-top: 10px;display: inline-block">选择顺序: {{ checkedNames2 | json }}</span>
				</li>
				<li>
					<h2>4发表感想</h2>
					<textarea  class="textarea_s" rows="3" cols="20"></textarea>
				</li>
			</ul>
			<p class="que_ps">*(此调研问卷均为必选项，请填写完整后提交)</p>

			<div class="phone">
				<input type="number" placeholder="请输入手机号" autocomplete="off" id="iphone" />
			</div>
			<a href="javascript:;" class="que_receive tc">点击提交完成调查问卷</a>
			<p class="que_pss"><span>调查对象：</span>终端客户（消费者） 浙商集团下属公司全体员工、发动身边的朋友圈</p>
			<p class="que_pss"><span>调查方式:</span>H5微营销网上调查问卷，可便于通过QQ、微信等在线沟通工具传播，并在后台系统进行汇总统计 。</p>
		</section>
		<!--todo 弹出层-->
		<article id="tip">
			<div class="pack pack_yl">
				<p class="tc"></p>
				<a href="#">
					<img src="img/que_close.png">
				</a>
			</div>
		</article>
		<!-- 网站要用到的一些类库 -->
		<script type="text/javascript">
			new Vue({
				el: '.question',
				data: {
					checkedNames: [],
					checkedNames2:[]
				}
			});
			var checkPhone = function(a) {
				var patrn = /^((?:13|15|18|14|17)\d{9}|0(?:10|2\d|[3-9]\d{2})[1-9]\d{6,7})$/;
				if (!patrn.exec(a)) return false;
				return true;
			};
			$(window).on("load", function() {
					$("#loading").hide();
				});
				// ========================================浮层控制
			$("#tip .pack a").on("click", function() {
				$("#tip").hide()
				$("#tip .pack p").html("");
				return false;
			})
			function alerths(str) {
				$("#tip").show();
				$("#tip .pack p").html(str);
				return false;
			}
			/*判断单选框选中状态，并且父级添加active*/
			$(".question ul .que_ra label").click(function() {
				$(this).addClass("icon_raa").siblings().removeClass("icon_raa");
				$(this).parent().addClass("active");
			});
			/*判断复选框选中状态，并且父级添加删除active*/
			$(".question ul .que_chex label").click(function() {
				if ($(this).hasClass("icon_chexa")) {
					$(this).removeClass("icon_chexa");
				} else {
					$(this).addClass("icon_chexa");
				};
				if ($(this).parent().children().hasClass("icon_chexa")) {
					$(this).parent().addClass("active");
				} else {
					$(this).parent().removeClass("active");
				};
				/*return false;*/
			})
			/*弹出框*/
			$(".que_receive").on("click", function() {
				var str = $("#iphone").val();
				var active = $(".active").length;
				if (active == 4) {
					// 判断是否全部选完
				} else {
					var ss = $('.que_ac').map(function() {
						if (!$(this).hasClass("active")) {
							return $(this).index() + 1;
						}
					}).get().join();
					alerths("请填写第" + ss + "题 完成答卷"); //todo 弹出弹窗
					return;
				};
				if (str.length == 11 && checkPhone(str)) {
					// 判断是不是11位手机号，为真提交
				} else {
					alerths("请输入正确的手机号！");
					return;
				};
				return false;
			})
		</script>
	</body>

</html>